CLIENT_ID=your-client-id
CLIENT_SECRET=your-client-secret
TENANT_ID=your-tenant-id
SITE_ID=your-site-id
FROM_EMAIL=your-sender@example.com
TO_EMAIL=your-recipient@example.com
CC_EMAIL=your-cc@example.com
